@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }

body {
	font-family: 'Sintony', sans-serif;
	background: rgb(242, 242, 237);
}

nav	{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.5em 0;
	align-items: center;
	background: rgb(122, 36, 209);
	border-bottom: 2px solid rgb(235, 64, 52);
}

.logo {
	font-family: 'Marck Script', cursive;
	font-size: 2.7em;
}

nav > a { 
	color: white;
	text-decoration: none;
	 }

nav > a:hover {
 color: white;
 text-transform: none;
}

  h4{
  	font-size: 1.6em;
  	margin-bottom: 0.6em;
  }

  hr {
  	border: 5px solid rgba(122, 36, 209, 0.6);
  	font-size: 2em;
  	width: 70%;
  }

.wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main {
	display: flex;
	width: auto;
	padding: 2.5em;
	background: rgb(230, 227, 209);
	box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
	flex-direction: column;
}

.goal { margin: 0.6em; }

.goal > label { border-bottom: 1px solid red; }

.astronaut {
	height: 37em;
	position: absolute;
	z-index: -1;
	top: 10px;
	right: 50px;
	opacity: 0.3;
}

.chemical {
	height: 37em;
	position: absolute;
	z-index: -1;
	bottom: 10px;
	left: 50px;
	opacity: 0.3;
	transform: rotate(45deg):
	}