@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
/* 	font-family: 'Berkshire Swash', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }

body {
	font-family: 'Sintony', sans-serif;
	background: rgb(242, 242, 237);
}

nav	{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.5em 0;
	align-items: center;
	background: rgb(36, 38, 158);
	/* background: rgb(122, 36, 209); */
	border-bottom: 5px solid rgb(89, 189, 255);
	/* 255, 69, 69 */
}

.logo {
	display: flex;
	align-items: center;
 }

.logo > p {
	color: white;
	font-family: 'Marck Script', cursive;
	/* font-family: 'Josefin Sans', sans-serif; */
	/* text-shadow: 2px 2px rgba(0, 0, 0, 0.6); */
	text-shadow: 1px 1px rgba(89, 189, 255, 0.6);
	font-size: 3em;
}

.logo > img {
	height: 3.5em;
	padding-bottom: 0.5em;
}

nav > a {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2em;
	color: rgb(89, 189, 255);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
	text-decoration: none;
	font-weight: bold;
	 }

nav > a:hover {
 color: white;
 /* color: rgb(255, 69, 69); */
 border-bottom: 3px solid rgb(89,189,255);
 text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
 text-transform: none;
}

  h4{
  	font-size: 1.6em;
  	margin-bottom: 0.6em;
  }

.active {
	color: rgb(89, 189, 255);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
	border-bottom: 3px solid white;
}

.active:hover {
	text-transform: none;
	color: rgb(89, 189, 255);
}

  hr {
  	border: 5px solid rgba(36, 38, 158, 0.8);
  	font-size: 2em;
  	width: 70%;
  }

.wrapper {
	height: 95vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main {
	margin-bottom: 5vh;
	display: flex;
	width: auto;
	padding: 2.5em;
	background: rgb(230, 227, 209);
	box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
	flex-direction: column;
}

/*                                 FROM JS                                           */

#list {
	display: flex;
	flex-direction: row;
}

#trash {
	height: 32px;
	cursor: pointer;
}


/*                                 POPUP FORM                                           */
.goalForm {
	visibility: hidden;
	position: fixed;
	height: 750px;
	width: 650px;
	top: 50%;
	left: 50%;
	margin-top: -375px;
	margin-left: -325px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	background: grey;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: blue;
	font-weight: 900;
	cursor: pointer;
}
/*                                 MEDIA QUERY FOR BETTER MOBILE READABILITY                                         */

@media only screen and (min-device-width : 320px) and (max-device-width : 650px) {
	#main {
		width: 70vw;
		font-size: x-large;
		padding-right: 2em;
	}
}

.goal { margin: 0.6em; }

.goal > label { border-bottom: 1px solid rgb(255, 69, 69); }
