@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

* { box-sizing: border-box; }

body {
	background: rgb(230, 227, 209);
	font-family: 'Sintony', sans-serif;
}

nav	{
	height: 5vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgb(122, 36, 209);
	border-bottom: 2px solid rgb(235, 64, 52);
}

nav > a { 
	color: white;
	text-decoration: none;
	 }

nav > a:hover {
 color: white;
 text-transform: none;
  }


#main {
	height: 95vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}